/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  //-webkit-user-select: none;
  //-moz-user-select: -moz-none;
  //-ms-user-select: none;
  //user-select: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 920px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@font-face {
  font-family: 'Bellerose';
  src: url('../fonts/Bellerose.ttf');
}

@font-face {
  font-family: 'Florence';
  src: url('../fonts/Florence-Regular.ttf');
}

@font-face {
  font-family: 'Respective';
  src: url('../fonts/Respective.ttf');
}

body {
  padding-top: 40px;
  background-image: url('/images/bg.png');
  background-repeat: repeat-x;
  background-color: white;
  font: Helvetica;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll-text {
  position: absolute;
  left: -105px;
  text-align: right;
  width: 80px;
  color: #ddd;
}

#nav-top .active a {
  color: white;
}

.navbar.navbar-fixed-top {
  margin: 0;
}

body > .container > .content > .row {
  background-color: white;
}

.row .section {
  position: relative;
  background-color: white;
  max-width: 920px;
  padding-left: 80px;
  //padding-left: 40px;
  //margin-left: 40px;
  margin-bottom: 40px;
  border-top: 80px solid white;
}

section {
  padding-right: 10px;
}

.row .section .section-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  /*background: rgba(127,127,127,1);*/
  width: 50px;
  height: 50px;
  z-index: 1;
}

.row .section .section-logo-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 34px;
  border-left: 1px solid black
}

.section-logo .logo {
  height: 50px;
  width: 50px;
  display: block;
  background-color: white;
  background-repeat: no-repeat;
  margin-left: 1px;
}

.logo.sticked-top {
}

.logo-me {
  background-image: url('/images/glasses-48.png');
  margin-left: 1px;
}

.logo-employments {
  /*
  background-image: url('/images/tie-50.png');
  */
  background-image: url('/images/businessman-48.png');
}

.logo-demos {
  background-image: url('/images/electronics-48.png');
}

.logo-tools {
  margin-left: 1px;
  background-image: url('/images/tool_box-48.png');
}

.logo-education {
  background-image: url('/images/graduation_cap-48.png');
}

.logo-skills {
  background-image: url('/images/mustache-48.png');
}

.logo-languages {
  background-image: url('/images/globe-48.png');
}

.logo-activities {
  background-image: url('/images/conference-48.png');
}

.logo-contact {
  background-image: url('/images/handshake-48.png');
}

.logo-you {
  background-image: url('/images/business_contact-48.png');
}

[jq-slider] {
  /*height: auto !important;*/
}

[jq-slider] li section {
  padding-right: 10px;
}

.row-first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
}

#you {
  border-bottom: 100px solid white;
}

.row-first .section {
  background-color: transparent;
}

/*
.section.page {
  min-height: 480px;
}
*/

h1 {
  font-family: Florence;
}

.fake-section-header {
  font-family: Florence;
  font-size: 1.4em;
}

h1.section-header {
  font-size: 5em;
  margin-top: 0px;
}

section h1 {
  font-size: 3em;
}

.slider-nav {
  position: absolute;
  font-size: 2.5em;
  bottom: -40px;
  left: 0px;
  right: 0px;
  height: 40px;
}

.slider-nav .jq-slider-nav a {
  color: black;
}

.slider-nav .jq-slider-nav {
  position: absolute;
  cursor: pointer;
}

.slider-nav .jq-slider-nav-left {
  left: 0px;
}

.slider-nav .jq-slider-nav-right {
  right: 0px;
}






.sausage-set {
  position: fixed;
  right: 0;
  top: 0px;
  width: 0px;
  height: 100%;
  background-color: white;
  z-index: 1031;
}

.sausage {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

.sausage-span {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  padding: 5px;
  color: #888;
  background-color: transparent;
  border: solid 2px transparent;
  border-right: none;
  font-size: 0.8em;
  line-height: 10px;
  text-align: right;
  font-family: Helvetica;
  text-transform: capitalize;
  width: 80px;
}

.sausage:hover .sausage-span {
  display: block;
  background: #ddd;
}

.sausage-hover .sausage-span {
  display: block;
  background: #ddd;
  font-weight: bold;
}

.sausage-current .sausage-span {
  display: block;
  background: #ddd;
  font-weight: bold;
}

[demo-angular] #gradient {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

[demo-angular] pre {
  font-size: 0.8em;
}

p > a:link, p > a:visited {
  font-size: 1.2em;
}

a:link, a:visited {
  color: red;
  opacity: 0.8;
  /*color: #e61717;*/
  /*font-weight: bold;*/
  /*color: #6ecff6;*/
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover, a:active {
  /*color: #f7977a;*/
  opacity: 1;
  font-size: 1em;
}

#twenty {
  height: 180px;
}
#twenty [blur="small"] {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
}

#twenty [blur="regular"] {
  filter: blur(6px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
}

#twenty [blur="extra"] {
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
}

[demo-backbone] .history {
  margin-top: 20px;
}

[passed="true"], [passed="true"] a {
  color: #5e7d00 !important;
}

[passed="false"], [passed="false"] a {
  color: #b03911 !important;
}

.jasmine-failed-description {
  font-weight: bold;
}


.jasmine-passed-icon, .jasmine-failed-icon {
  font-weight: bold;
}

.bg-mario-container {
  position: relative;
  min-height: 140px;
}

.bg-mario-text {
  font-family: 'Nes';
  font-size: 1.2em;
  padding: 20px 0 40px;
}

#HTMLReporter .alert .bg-mario {
  min-height: 140px;
  background-image: url('/images/mario-toad.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  position: absolute;
  top: -43px;
  left: 0;
  right: 0;
}

.bg-mario-ground {
  min-height: 140px;
  background-image: url('/images/ground.png');
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

img.activity {
  margin: 0 auto;
  max-height: 99px;
}

.tool {
  max-height: 99px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.tool .tool-horizontal {
  display: inline-block;
}

[demo-tdd] {
  min-height: 413px;
}

/*
#you > .row {
height: 1024px;
}
*/

.uline {
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #666;
}

.beautiful {
  font-family: Respective;
  font-size: 3.2em;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px #999;
}
