<div class="results" ng-repeat="currentSuite in suite.suites">
  <div class="summary">
    <div class="suite">
      <a class="description" href="#">{{currentSuite.description}}</a>
      <span class="jasmine-passed-icon pull-right" ng-if="currentSuite.passed">&#10003</span>
      <span class="jasmine-failed-icon pull-right" ng-if="!currentSuite.passed">x</span>
      <div class="specSummary" ng-repeat="spec in currentSuite.specs">
        <a class="description" href="#" title="{{spec.description}}">{{spec.description}}</a>
        <span class="jasmine-passed-icon pull-right" ng-if="spec.passed">&#10003</span>
        <span class="jasmine-failed-icon pull-right" ng-if="!spec.passed">x</span>
      </div>
      <jasmine-spec ng-repeat="spec in currentSuite.specs" spec="spec"></jasmine-spec>
      <!--<jasmine-suite tests="currentSuite.suites"></jasmine-suite>-->
    </div>
  </div>
</div>
