<div class="row">
  <div class="col-xs-12">
    Jasmine uses a JSON reporter to display results below
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
		<div id="HTMLReporter" class="jasmine_reporter">
			<div class="banner">
				<span class="title">Jasmine </span>
				<span class="duration">finished in {{tests.durationSec}}</span>
			</div>
		<ul class="symbolSummary">
			<li class="passed">
			</li>
		</ul>
		<div class="alert">
			<span class="passingAlert bar">
				passing: {{nbSpecs.passing}}, failing: {{nbSpecs.failing}}, skipped: {{nbSpecs.skipped}}, total: {{nbSpecs.total}}
			</span>
		</div>
		<div class="results" ng-repeat="suite in tests.suites">
			<div class="summary">
				<div class="suite">
					<a class="description" href="#">{{suite.description}}</a>
					<span class="jasmine-passed-icon pull-right" ng-if="suite.passed">&#10003</span>
					<span class="jasmine-failed-icon pull-right" ng-if="!suite.passed">x</span>
					<div class="specSummary" ng-repeat="spec in suite.specs">
						<a class="description" href="#" title="{{spec.description}}">{{spec.description}}</a>
						<span class="jasmine-passed-icon pull-right" ng-if="spec.passed">&#10003</span>
						<span class="jasmine-failed-icon pull-right" ng-if="!spec.passed">x</span>
					</div>
				</div>
			</div>
			<div id="details"></div>
		</div>
		</div>

		<!--<div>{{tests | json}}</div>-->


  </div>
</div>
