<div class="row">
  <div class="col-xs-12 col-sm-3">
    <h3>Blur-o-meter</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-12">
        <div class="btn-group-vertical blur-o-meter">
          <button class="btn btn-default" blur="small" type="button">Not so blury</button>
          <button class="btn btn-default" blur="regular" type="button">Medium blury</button>
          <button class="btn btn-default" blur="extra" type="button">Extra blury</button>
          <button class="btn btn-default" blur="42" type="button">Integer (error)</button>
          <button class="btn btn-default" blur type="button">Empty string (error)</button>
        </div>
      </div>
      <div class="col-xs-6 col-md-12">
        <div class="history">
        </div>
        <a href="#" class="clear-history pull-right">clear history</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <h3>Backbone</h3>
    <p class="small">
      This demonstrates how to isolate a jquery plugin behind a Backbone View coupled to a Model in order to gain finer control on the output.
      The View updates the Model and renders asynchronously once
    </p>
    <p class="small">
      Note:
      I used a setTimeout to render the Backbone view for the sake of simplicity (this page is entirely controlled by Angular).
      History length is limited to 5 entries by default. The History collection exposes methods to the View so that all history-related logic is done internally.
      Please take a look on how separated the concerns are between model, collection (and its model), and the view.
    </p>
    <h3>Output</h3>
    <div id="twenty">
      <img class="left" src="http://placekitten.com/410/300" />
      <img class="right" blur="regular" src="http://placekitten.com/410/300" />
    </div>
  </div>
</div>
