<div class="row row-first">
  <div id="me" class="section">
    <div class="section-logo"><span class="logo-me">some logo</span></div>
    <h1 class="section-header">Me</h1>
    <div jq-slider>
      <ul>
        <li>
          <section>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi ipsum, accumsan feugiat semper a, bibendum ut neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis magna ac dolor malesuada ultricies quis vel quam. Pellentesque eget porttitor ipsum. Morbi ut dui imperdiet, elementum lorem quis, pellentesque sem. Pellentesque eget congue nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
          </section>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div id="contact" class="section">
    <div class="section-logo"><span class="logo-contact">some logo</span></div>
    <h1 class="section-header">Contact</h1>
    <div jq-slider>
      <ul>
        <li>
          <section>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi ipsum, accumsan feugiat semper a, bibendum ut neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis magna ac dolor malesuada ultricies quis vel quam. Pellentesque eget porttitor ipsum. Morbi ut dui imperdiet, elementum lorem quis, pellentesque sem. Pellentesque eget congue nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
          </section>
        </li>
        <li>
          My github
        </li>
        <li>
          My blog
        </li>
        <li>
          My tumblr
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div id="employments" class="section">
    <div class="section-logo"><span class="logo-employments">some logo</span></div>
    <h1 class="section-header">Employments</h1>
    <div jq-slider>
      <ul>
        <li>
          <section>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi ipsum, accumsan feugiat semper a, bibendum ut neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis magna ac dolor malesuada ultricies quis vel quam. Pellentesque eget porttitor ipsum. Morbi ut dui imperdiet, elementum lorem quis, pellentesque sem. Pellentesque eget congue nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
          </section>
        </li>
        <li>
          <section>
            <h2>silanis</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi ipsum, accumsan feugiat semper a, bibendum ut neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis magna ac dolor malesuada ultricies quis vel quam. Pellentesque eget porttitor ipsum. Morbi ut dui imperdiet, elementum lorem quis, pellentesque sem. Pellentesque eget congue nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
          </section>
        </li>
        <li>
          <section>
            <h2>Babel</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi ipsum, accumsan feugiat semper a, bibendum ut neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc quis magna ac dolor malesuada ultricies quis vel quam. Pellentesque eget porttitor ipsum. Morbi ut dui imperdiet, elementum lorem quis, pellentesque sem. Pellentesque eget congue nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </p>
          </section>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div id="demos" class="section">
    <div class="section-logo"><span class="logo-demos">some logo</span></div>
    <h1 class="section-header">Demos</h1>
    <div jq-slider>
      <ul>
        <li>
            Various demos
        </li>
        <li>
          <section>
            <h1>Linked In</h1>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/remy-chaumard/22/267/259" data-format="inline" data-related="false"></script>
          </section>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div id="tools" class="section">
    <div class="section-logo"><span class="logo-tools">some logo</span></div>
    <h1 class="section-header">Tools</h1>
    <div jq-slider>
      <ul>
        <li>
          Various Tools
        </li>
        <li>
          <section>
            <h1>Vim</h1>
            vim rox
          </section>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div id="education" class="section">
    <div class="section-logo"><span class="logo-education">some logo</span></div>
    <h1 class="section-header">Education</h1>
    <div jq-slider>
      <ul>
        <li>
          Education
        </li>
        <li>
          <section>
            <h1>Master</h1>
            Udem, Avignon
          </section>
        </li>
        <li>
          <section>
            <h1>License</h1>
            Avignon
          </section>
        </li>
        <li>
          <section>
            <h1>BTS</h1>
            Martigues
          </section>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div id="skills" class="section">
    <div class="section-logo"><span class="logo-skills">some logo</span></div>
    <h1 class="section-header">Skills</h1>
    <div jq-slider>
      <ul>
        <li>
          Various Skills
        </li>
        <li>
          <section>
            <h1>Vim</h1>
            vim rox
          </section>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div id="languages" class="section">
    <div class="section-logo"><span class="logo-languages">some logo</span></div>
    <h1 class="section-header">Languages</h1>
    <div jq-slider>
      <ul>
        <li>
          English, French
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div id="distinctions" class="section">
    <div class="section-logo"><span class="logo-distinctions">some logo</span></div>
    <h1 class="section-header">Distinctions</h1>
    <div jq-slider>
      <ul>
        <li>
          Microsoft UX workshop
        </li>
        <li>
          training coaching
        </li>
        <li>
          TOEIC, TOEFL
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="you" class="row">
  <section>
    <h1>You</h1>
  </section>
</div>

<!--<div ng-include="'views/filler.html'"></div>-->

<!--
<script type="text/javascript">
  $.getJSON('https://api.github.com/users/DrDyne/events', function (json, success) { console.log(json.slice(0,5)) });
</script>
<script type="text/javascript" src="http://dr-dyne.tumblr.com/api/read/json?num=3"></script>
<script type="text/javascript" src="http://dr-dyne.tumblr.com/api/read/json?type=photo&id=65331363904"></script>
-->
